<!-- Angular JS Forms-Validation -->
{% extends 'base.html' %}
{% block content %}
	
	{% verbatim %}
	<div ng-app="" ng-controller="validateCtrl">
		<form class="form-group" name="myForm">
			<p>
				<label>User Name : </label><input class="form-control" type="text"  ng-model="user" name="user" required >
				<span style="color:red" ng-show="myForm.user.$dirty && myForm.user.$invalid"><span ng-show="myForm.user.$error.required">Username is Required</span> </span>
			</p>
			<p>
				<label>Email : </label><input class="form-control" type="text"  ng-model="email" name="email" required >
				<span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid"><span ng-show="myForm.email.$error.required">Email is Required</span> </span>
			</p>
			<br />
			<button class="btn btn-lg btn-success" ng-click="reset()">RESET</button>
		</form>
		<br />
		<p class="lead">{{ user.fname + " " + user.lname }}</p>
		<p class="lead">Form = {{ user }} <br /> Master = {{ master }}</p>
	
	</div>
	{% endverbatim %}

	<script type="text/javascript">
		function formController($scope) {
			$scope.master = { fname: "Arif" , lname: "Uz Zaman"};
			$scope.reset = function() {
				$scope.user = angular.copy($scope.master);
			};
			$scope.reset();
		}
	</script>

{% endblock content %}